.container-flex {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .main-content {
    flex: 1;
  }
  input {
    background-color:rgba(130, 130, 130, 1); /* Gray background color for input areas */
    color: rgba(22, 22, 22, 1);
    border: none;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
  }
  input:hover {
    background-color: rgba(130, 130, 130, 0.8); /* Darken background on hover */
    transition: background-color 300ms; /* Add transition */
  }
  input::placeholder {
    color: rgba(79, 79, 79, 1);
  }
  input::focus, input::active {
    outline: none!important;
    border: none !important;
  }
  