/* Stylesheet.css */
footer {
    display: flex;
    justify-content: flex-end; /* Align text to the right */
    align-items: center; /* Center text vertically */
    /* background-color: #000; */
    /* color: #fff; */
    padding: 20px;
    font-size: 12px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    height: 40px;
    z-index: 1;
    border-top: rgba(255, 255, 255, 0.87) 1px solid;
  }
  p {
    margin: 10px;
    padding: 0;
  }
